@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    left: -10%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%
    width: 20%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 50%
    width: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 33%;
    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto !important  

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important
figcaption 
    font-weight: normal !important

.banner-interno__titulo__icono i
    color: $color-acento-botones !important;
.banner-interno__fondo
    background-image: url(../assets/curso/portada/fondo-banner-temas.png) !important

//Titulo 3er icono +  texto
.titulo-tercer-nivel
  width: fit-content
  max-width: 100%
  position: relative
  display: inline-flex
  align-items: center
  background-color: #F2E5DB
  border-radius: 30px
  padding-right: 16px
  padding-left: 60px
  min-height: 48px
 
  @media screen and (max-width: $bp-min-md)
    padding-left: 0px
    border-radius: 0px



  &__icon
    position: absolute
    left: -10px
    top: 50%
    transform: translateY(-50%)
    width: 70px
    max-width: 85px
    height: auto

    @media screen and (max-width: $bp-min-md)
      display: none

  &__text
    margin: 0
    margin: 0 15px 0 10px
    white-space: normal
    word-break: break-word
//TABLAS
.tabla-a.color-acento-botones thead 
    background-color: $color-adicional-1
.tabla-a.t-cus table td
    line-height: 2 !important

//ACORDION A
.tarjeta.bg-card
  background-color: #F2E5DB
.tarjeta.bg-card.acordion__activo
  background-color: #E9D6D8
.tarjeta.bg-card.acordion__activo .acordion__titulo h3
  color: $color-sistema-texto !important
.acordion__accion__btn--a
    background-color: $color-acento-botones
.acordion__accion__btn--a i, .acordion__accion__btn--b i
    color: white;

//CAJONES
.cajon.color-acento-botones
    background-color: #D7D4D7

//TABS
.tabs-a__tab
    background-color: #F8ECEB
.tabs-a.color-acento-botones .tabs-a__tab__selected 
    color: $white !important
.tabs-a__tab__text
    text-wrap: initial;  

//TAJETA HOVER
.tarjeta--boton
    background-color: #F3D9D4
.tarjeta--boton.color-primario:active, .tarjeta--boton.color-primario:focus, .tarjeta--boton.color-primario:hover
    background-color: #F2EBFF

//TABS C
.tabs-c 
    border-bottom: 0px
.tabs-c.color-primario .tabs-c__tab
    background-color: #F2EBFF
    border-bottom-color: #D2CADF

.tabs-c.color-primario .tabs-c__tab--active
    background-color: #fff
    border-bottom-color: #D5AEB1 !important
    color: $color-sistema-texto !important
    z-index: 1;

.tabs-c.color-primario .tabs-c__tab--active:before
    border-top-color: #D5AEB1 !important
    
.tabs-c.color-primario .tabs-c__tab--active span
    font-weight: bold !important
.tabs-c__content-item
    background: #F9F7F0;
    position: relative;
    top: -13px;
    z-index: 0;

// SLYDER A
.slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: $color-acento-botones;
    border: 0;
.slyder-a__bullets__item 
    background-color: #D5AEB1
    border: 0;

.slyder-a__bullets__item--active
    background-color: $color-acento-botones;
    border: 0;
.slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-image: url(../assets/bullets/arrow-w.svg)

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-image: url(../assets/curso/temas/bg/2.svg)
.bg-color
  &-1
    background-color: #F8ECEB
  &-2
    background-color: #FAF6F3
  &-3
    background-color: #F2EBFF
  &-4
    background-color: #D7D4D7
  &-5
    background-color: #F9F7F0

.br
  &-1
    border-radius: 20px




.bg
  &-primario
    background-color: $color-primario
  &-secundario
    background-color: $color-secundario
  &-acento-contenido
    background-color: $color-acento-contenido
  &-acento-botones
    background-color: $color-acento-botones
    

.pcus
  &-1
    padding: 3rem !important;
  &-2
    padding: 2rem !important;
  &-3
    padding-bottom: 0rem !important;
  &-4
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  &-5
    padding-top: 3rem !important;
  &-6
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  &-7
    padding-bottom: 1rem !important;

.hcus
  &-1
    height: 400px
  &-2
    height: 480px
  &-3
    height: 250px

.wcus
  &-1
    width: 15%
  &-2
    width: 85%
  &-t2
    width: 20%


/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important
  .banner-principal .tarjeta
    background-image: url(../assets/curso/portada/fondo-banner-principal-tablet.png) !important  
  .bloque-texto-g
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  .slyder-a__btn--sigt
    right: -10% !important;
  .slyder-a__btn--atrs
    left: -10% !important;
  .pcus
    &-1
      padding: 0.5rem !important;
    &-2
      padding: 1rem !important;
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
  .banner-principal .tarjeta
    background-image: url(../assets/curso/portada/fondo-banner-principal-mobile.png) !important
  .slyder-a__bullets__item
    margin: 5px;
    width: 5px;
    height: 5px;
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 30px;
    height: 30px;
  .slyder-a__btn--sigt
    right: -9% !important;
  .slyder-a__btn--atrs
    left: -9% !important;
  
 